body {
    padding: 0;
}
.autocomplete-dropdown {
    background: #fff;
    border: 1px solid #c0c0c0;
    padding: 0;
    position: relative;
    top: -10px;
    /* left: 332px; */
    border: 1px solid #e0e0e0;
    box-shadow: 5px 5px 5px #e0e0e0;
    border-radius: 5px;
    max-height: 286px;
    overflow-y: scroll;
}
.autocomplete-item {
    font-size: 13px;
    font-family: Arial;
    color: #333;
    padding: 5px 20px 5px 20px;
    list-style: none;
    min-width: 230px;
    max-height: 300px;
    overflow: auto;
    cursor: pointer;
}
.autocomplete-item:hover {
    background: #3079cd;
    color: #fff;
}
.search-box {
    position: relative;
    border: 1px solid #e0e0e0;
    height: 30px;
    min-width: 300px;
    display: inline-block;
    overflow: hidden;
    
}
.main-text-box {
    z-index: 6;
    color: #333;
    background: transparent;
}
.sub-text-box {
   	z-index: 1;
	color: grey;
	left: -64px;
}
.autocomplete-textbox {
    	border-radius: 5px;
	/* padding: 7px 0px 7px 10px; */
	font-family: monospace;
	font-size: 14px;
	vertical-align: middle;
	border-color: #fff;
	/* right: 0; */
	min-width: 50px;
	height: 30px;
	outline: none;
	float: left;
	position: relative;
	/* display: inline-block; */
	margin: 7px;
}
.hovered-list-item {
    background: #3079cd;
    color: #fff;
}
.selected-fields {
    float: left;
    padding: 0;	
    margin: 0;
}
.selected-name {
    color: #e0e0e0;
}
.selected-name:hover {
    cursor: not-allowed !important;
}
.remove-name {
    margin-left: 10px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    color:  rgb(59, 75, 134);
}
.selected-field-item {
    list-style: none;
	/* float: left; */
	background: #E8ECF0;
	vertical-align: middle;
	padding: 2px 5px;
	border-radius: 4px;
	box-shadow: 1px 1px 1px;
	margin: 4px;
	float: left;
	font-family: monospace;
	
}
.search-box-container {
	float: left;
}

.header-row {
	background: linear-gradient(to bottom,#e5f7ff 0%,  #99e0ff 100%);
}

.header-row th{
	border-bottom-width: 1px !important;
}

.body-row {
	background: #e5f7ff;
}

.body-row td {
	border: 1px solid #cabdbd !important;
}

.filter-parent .filter-icon {
	border: 1px solid #f1f1f1;
	padding: 8px;
	box-shadow: 1px -1px 1px;
	background: #f1f1f1;
	border-radius: 4px;
	float: left;
	cursor: pointer;
}

.filter-parent {
	margin: 10px 0;
	width: 100%;
	float: left;
}

.filter-static-label {
	float: left;
	display: inline;
	margin: 7px 0 0 10px;
	font-family: monospace;
}

.filter-drop-down-parent {
	position: absolute;
	z-index: 10;
	border: 1px solid #bbbdbf;
	box-shadow: 1px 0px 1px #bbbdbf;
	background: #FFFFFF;
	display: block;
	top: 37px;
}
.filter-drop-down {
	padding: 0;
}
.filter-drop-down-item {
	list-style: none;
	padding: 5px 40px 0 20px;
	font-family: monospace;
	/* border-radius: 2px; */
	font-size: 13px;
}
.filter-drop-down-item:hover {
	background: #37a0ce;
	color: #fff;
}
.applied-filter {
	float: left;
	margin-left: 7px;
}
.filter-display-name-text {
	float: left;
	padding: 6px 0 0 4px;
	border: 1px solid #ccc;
	height: 34px;
	border-radius: 4px;
	text-align: middle;
	border-right: none;
	/* border-radius: 4px 4px 0 0; */
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	width: 20%;
}
.filter-text-box {
	border-left: none !important;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	/* padding: 0; */
	outline: none !important;
	box-shadow: none !important;
	width: 80% !important;
	color: blue !important;
}

.text-box-without-outline {
	outline: none !important;
	box-shadow: none !important;
	height: 34px;
	line-height: 25px;
	width: 50%;
	max-width: 50%;
	/* margin: 2px; */
	padding: 0;
	padding-left: 5px;
	border-radius: 4px;
	border: none;
	font-family: monospace;
	display: block;
}

.filter-text-box:focus {
	border-color: #ccc !important;
}

.modal-parent {
	background: linear-gradient(to bottom,#00b4ff 0,#0090ff 100%);
	width: 96%;
	height: 96%;
	left: 100%;
	top: 100%;
	position: absolute;
	opacity: 0;
}

.custom-modal-remove-sign {
	position: relative;
	right: 0%;
	font-size: 6vmax;
	line-height: 0.6;
	/* width: 100%; */
	/* margin-top: -39%; */
	color: #fff;
	/* margin-bottom: -20%; */
	cursor: pointer;
	padding: 6px 4px;
	border-left: 2px solid #fff;
	border-radius: 7px;
	border-bottom: 2px solid #fff;
	float: right;
	font-weight: bold;
}

.custom-modal-header {
	float: right;
	min-height: 20%;
	width: 100%;
}

.custom-modal-body {
	height: 60%;
	max-height: 60%;	
	float: left;
	width: 100%;	
	overflow: auto;
}

.custom-modal-footer {
	height: 20%;
	float: left;
	width: 100%;
}

.tag-text {
	margin-top: 1%;
	margin-right: 5%;
	color: #fff;
	font-size: 18px;
	font-family: monospace;
	font-weight: bold;
	width: 14%;
	max-width: 20%;
}

.tag-directive {
	float: left;
	width: 80%;
	/* margin-left: 20%; */
	margin: 1% 5% 1% 20%;
}

.tag-directive .tags {
	border-radius: 4px;
	min-height: 34px;
	border: none;
}

.tag-directive input.input {
	font-family: monospace;
	borde: none !important;
}

.accept-icon {
	top: 65% !important;
	/* height: 80px; */
	/* font-size: 28px; */
	float: right;
	font-size: 4vmax;
	line-height: 1 !important;
	font-weight: 100 !important;
	/* margin-top: -39%; */
	color: #fff;
	/* margin-bottom: -20%; */
	cursor: pointer;
	padding: 6px 4px 6px 4px;
	border-left: 2px solid #fff;
	border-radius: 7px;
	border-top: 2px solid #fff;
}

.modal-header-title {
	font-size: 30px;
	font-weight: bold;
	color: #464746;
	font-family: monospace;
	/* background: linear-gradient(to bottom,#fff 0,#ebf6fb 100%); */
	/* background: #ebf6fb; */
	background: background: linear-gradient(to bottom,#e5f7ff 0,#99e0ff 100%);
	/* background: linear-gradient(to bottom,#e5f7ff 0,#99e0ff 100%); */
	width: 96%;
	padding: 1% 0 0 1%;
	/* border: 1px solid; */
	/* border-color: #285e8e; */
	color: #fff;
	height: 29%;
	border-radius: 0 7px 7px 7px;
}






