body {
    padding: 0;
}
.autocomplete-dropdown {
    background: #fff;
    border: 1px solid #c0c0c0;
    padding: 0;
    position: relative;
    top: -10px;
    /* left: 332px; */
    border: 1px solid #e0e0e0;
    box-shadow: 5px 5px 5px #e0e0e0;
    border-radius: 5px;
    max-height: 286px;
    overflow-y: scroll;
}
.autocomplete-item {
    font-size: 13px;
    font-family: Arial;
    color: #333;
    padding: 5px 20px 5px 20px;
    list-style: none;
    min-width: 230px;
    max-height: 300px;
    overflow: auto;
    cursor: pointer;
}
.autocomplete-item:hover {
    background: #3079cd;
    color: #fff;
}
.search-box {
    position: relative;
    border: 1px solid #e0e0e0;
    height: 30px;
    min-width: 300px;
    display: inline-block;
    overflow: hidden;
    
}
.main-text-box {
    z-index: 6;
    color: #333;
    background: transparent;
}
.sub-text-box {
   	z-index: 1;
	color: grey;
	left: -64px;
}
.autocomplete-textbox {
    	border-radius: 5px;
	/* padding: 7px 0px 7px 10px; */
	font-family: monospace;
	font-size: 14px;
	vertical-align: middle;
	border-color: #fff;
	/* right: 0; */
	min-width: 50px;
	height: 30px;
	outline: none;
	float: left;
	position: relative;
	/* display: inline-block; */
	margin: 7px;
}
.hovered-list-item {
    background: #3079cd;
    color: #fff;
}
.selected-fields {
    float: left;
    padding: 0;	
    margin: 0;
}
.selected-name {
    color: #e0e0e0;
}
.selected-name:hover {
    cursor: not-allowed !important;
}
.remove-name {
    margin-left: 10px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    color:  rgb(59, 75, 134);
}
.selected-field-item {
    list-style: none;
	/* float: left; */
	background: #E8ECF0;
	vertical-align: middle;
	padding: 2px 5px;
	border-radius: 4px;
	box-shadow: 1px 1px 1px;
	margin: 4px;
	float: left;
	font-family: monospace;
	
}
.search-box-container {
	float: left;
}
