body {
    padding: 0;
}
.autocomplete-dropdown {
    background: #fff;
    border: 1px solid #c0c0c0;
    padding: 0;
    position: relative;
    top: -10px;
    /* left: 332px; */
    border: 1px solid #e0e0e0;
    box-shadow: 5px 5px 5px #e0e0e0;
    border-radius: 5px;
    max-height: 286px;
    overflow-y: scroll;
}
.autocomplete-item {
    font-size: 13px;
    font-family: Arial;
    color: #333;
    padding: 5px 20px 5px 20px;
    list-style: none;
    min-width: 230px;
    max-height: 300px;
    overflow: auto;
    cursor: pointer;
}
.autocomplete-item:hover {
    background: #3079cd;
    color: #fff;
}
.search-box {
    position: relative;
    border: 1px solid #e0e0e0;
    height: 30px;
    min-width: 300px;
    display: inline-block;
    overflow: hidden;
    
}
.main-text-box {
    z-index: 6;
    color: #333;
    background: transparent;
}
.sub-text-box {
   	z-index: 1;
	color: grey;
	left: -64px;
}
.autocomplete-textbox {
    	border-radius: 5px;
	/* padding: 7px 0px 7px 10px; */
	font-family: monospace;
	font-size: 14px;
	vertical-align: middle;
	border-color: #fff;
	/* right: 0; */
	min-width: 50px;
	height: 30px;
	outline: none;
	float: left;
	position: relative;
	/* display: inline-block; */
	margin: 7px;
}
.hovered-list-item {
    background: #3079cd;
    color: #fff;
}
.selected-fields {
    float: left;
    padding: 0;	
    margin: 0;
}
.selected-name {
    color: #e0e0e0;
}
.selected-name:hover {
    cursor: not-allowed !important;
}
.remove-name {
    margin-left: 10px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    color:  rgb(59, 75, 134);
}
.selected-field-item {
    list-style: none;
	/* float: left; */
	background: #E8ECF0;
	vertical-align: middle;
	padding: 2px 5px;
	border-radius: 4px;
	box-shadow: 1px 1px 1px;
	margin: 4px;
	float: left;
	font-family: monospace;
	
}
.search-box-container {
	float: left;
}

.header-row {
	background: linear-gradient(to bottom,#e5f7ff 0%,  #99e0ff 100%);
}

.header-row th{
	border-bottom-width: 1px !important;
}

.body-row {
	background: #e5f7ff;
}

.body-row td {
	border: 1px solid #cabdbd !important;
}

.filter-parent .filter-icon {
	border: 1px solid #f1f1f1;
	padding: 8px;
	box-shadow: 1px -1px 1px;
	background: #f1f1f1;
	border-radius: 4px;
	float: left;
	cursor: pointer;
}

.filter-parent {
	margin: 10px 0;
}

.filter-static-label {
	float: left;
	display: inline;
	margin: 7px 0 0 10px;
	font-family: monospace;
}

.filter-drop-down-parent {
	position: absolute;
	z-index: 10;
	border: 1px solid #bbbdbf;
	box-shadow: 1px 0px 1px #bbbdbf;
	background: #FFFFFF;
	display: block;
	top: 37px;
}
.filter-drop-down {
	padding: 0;
}
.filter-drop-down-item {
	list-style: none;
	padding: 5px 40px 0 20px;
	font-family: monospace;
	/* border-radius: 2px; */
	font-size: 13px;
}
.filter-drop-down-item:hover {
	background: #37a0ce;
	color: #fff;
}
.applied-filter {
	float: left;
	margin-left: 7px;
}
.filter-display-name-text {
	float: left;
	padding: 6px 0 0 4px;
	border: 1px solid #ccc;
	height: 34px;
	border-radius: 4px;
	text-align: middle;
	border-right: none;
	/* border-radius: 4px 4px 0 0; */
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.filter-text-box {
	width: 200px !important; 
	border-left: none !important;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	/* padding: 0; */
	outline: none !important;
	box-shadow: none !important;
}

.filter-text-box:focus {
	border-color: #ccc !important;
}

